.header {
    height: 20%
}


.inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.header__left {
    font-size: 20px;
    margin-left: 5px;
    color: #000080;
    font-weight: bold;
}

.header__menu {
    display: flex;
    justify-content: flex-end;
}

.header__menu-list {
    margin-right: 30px;
}

.header__menu-item {
    text-decoration: none;
    color: #000080;
    font-weight: bold;
    font-size: 15px;
}

.content {
    position: relative;
    height: 100vh;
    Width: 100vw;
}

.content__img-img {
    width: 100%;
}

.content__img {
    margin-left: auto;
    width: 50%;
    padding-top: 100px;
}


.content__inner-title {
    font-size: 60px;
    font-weight: lighter;
}

.content__inner-box {
    border: 1px solid;
    padding-top: 140px;
    background: #000080;
}

.content__inner {
    width: 75%;
    position: absolute;
    top: 35%;
    left: 0%;
    Z-index: -10;
}


